<a href="https://colab.research.google.com/github/SachinScaler/PythonModuleApril24/blob/main/Nested_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question: Take 5 numbers as input and print their sum

In [ ]:
# Task can you make this code more concise
num1 = int(input())
num2 = int(input())
num3 = int(input())
num4 = int(input())
num5 = int(input())

sum = num1+num2+num3+num4+num5
print(sum)

In [ ]:
print(int(input())+int(input())+int(input())+int(input())+int(input()))

In [ ]:
### Valid
sum=0
for i in range(2):
    num=int(input())
    sum=sum+num
print(sum)

In [1]:
## valid but concept of comprehension is yet be be done
sum = sum(int(input()) for _ in range(5))
print(sum)

KeyboardInterrupt: Interrupted by user

In [3]:
a = 10
# comment
print(a)

10

In [6]:
if a>5:
    # visit this later
    pass
else:
    print("gt 5")

In [7]:
for i in range(5):
    if i == 3:
        continue

    print("Hello",i)

Hello 0
Hello 1
Hello 2
Hello 4

In [8]:
x = 0
while x < 5: #4<5
    x += 1  # 4+1
    if x == 3:
        continue
    print(x)


# 1
# 2
# 4
# 5

1
2
4
5

In [10]:
for i in range(5):
    if i == 3:
        break

    print("Hello",i)

print("Outside of loop")
for j in range(10,12):
    print(j)

Hello 0
Hello 1
Hello 2
Outside of loop
10
11

In [11]:
x = 0
while True:
    x += 1
    if x == 3:
        break

    if x > 5:
        break
    print(x)

# outside of while loop
print("Loop finished")

1
2
Loop finished

In [14]:
count = 0
while True: # infinite loop
    if count == 5:
        break
    print(count)
    count += 1

0
1
2
3
4

Which statement is used to skip the current iteration of a loop and move on to the next iteration?

In [19]:
for i in range(3):
    print("First Loop")
    for j in range(2):
        print("Second Loop")
        print(i,j)

First Loop
Second Loop
0 0
Second Loop
0 1
First Loop
Second Loop
1 0
Second Loop
1 1
First Loop
Second Loop
2 0
Second Loop
2 1

In [18]:
for i in range(3):
    print("First Loop",i)
for j in range(2):
    print("Second Loop", j)

First Loop 0
First Loop 1
First Loop 2
Second Loop 0
Second Loop 1

Question: Write a program to print a N x N matrix of *

In [20]:
n = int(input())

5

In [45]:
for i in range(n):
    for j in range(n):
        print("*", end = "")
    print()

*****
*****
*****
*****
*****

In [38]:
print("\n", end="")

In [43]:
print("")

In [42]:
print("a","b", sep="\n")

a
b

In [51]:
for i in range(n):
   print("*"*(i+1))

*
**
***
****
*****

### TRY Q8 With Double For lOOP from practice Sheet

In [ ]:
for i in range(3):
    for j in range(i, 3):
        print("*", end=" ")
    print()

In [52]:
n = int(input())
m = int(input())

16
24

In [62]:
min_num = min(n,m)
# if n>m:
#     min_num = m
# else:
#     min_num = n

x = 0
for i in range(1, min_num):
    if n%i==0 and m%i==0:  #i = 1
        print(i)
        x = i
print(x)

1
2
4
8
8

In [72]:
sum([2,3]), 2+3

(5, 5)

In [60]:
x = 100

for i in range(10,15):
    print("i",i)
    x= i
    print("X",x)

i 10
X 10
i 11
X 11
i 12
X 12
i 13
X 13
i 14
X 14

In [66]:
n =16
m = 32
x = 0
for i in range(min_num,0, -1):
    if n%i==0 and m%i==0:  #i = 1
        x = i
        break
print(x)

16

In [61]:
print(x)

14

### LCM

In [67]:
n = 6 # 2 * 3
m = 8  # 2 * 2 *2
# Minimum number which can be divided by both 6 and 8
max_num = max(n,m)

#start a loop from 8 and increase 8*6
while True:
    if max_num%m==0 and max_num%n==0:
        print(max_num)
        break
    max_num+=1

24

More time Efficient:
table of 6: 6,12,18,24,30
table of 8: 8,16,24,32,40

find first common number

In [69]:
n=int(input())

x = 2
while x<n+1:
    if x%2==0:
        print(x,end=" ")
    x+=1

10
2 4 6 8 10

In [ ]:
min

In [ ]:
T = int(input())
for i in range(T):
    number = int(input())

In [78]:
a = 0
while True:
    a = a + 5
    a %= 5
    a += 5
    if a == 5:
        break

print(a)

5