<a href="https://colab.research.google.com/github/SachinScaler/PythonModuleApril24/blob/main/Sets_and_Tuples%7CLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [120]:
a = "Hello"
print(a)

Hello

In [121]:
print(id(a))

132079303379632

id: gives the id of memory location

In [122]:
a = "World" # overwriting
print(a)

World

In [123]:
print(id(a))

132079923980464

In [124]:
a = "Hello"
b = a
print(id(a)==id(b))

True

In [125]:
a = "World"
print(id(a))

132079923980464

In [126]:
print(a)

World

In [127]:
print(b)

Hello

In [128]:
# updating
list1 = ["Hello"]
print(list1)
print(id(list1))

['Hello']
132079070540032

In [129]:
list1.append("World")
print(list1)
print(id(list1))

['Hello', 'World']
132079070540032

In [130]:
# changed
list1 = ["Hello"]
print(list1)
print(id(list1))

['Hello']
132079071011264

In [131]:
print(id(list1[0]))

132079303379632

In [132]:
# at index 0 change value from "Hello" to "world"
list1[0] = "World"
print(list1)
print(id(list1))

['World']
132079071011264

In [133]:
print(id(list1[0]))

132079923980464

In [134]:
a = "Hello"
b = "World"
print(id(a))

132079303379632

In [135]:
a = a+b
print(id(a))

132079071768176

### insert function

In [136]:
a = tuple()
print(type(a))

<class 'tuple'>

In [137]:
a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [138]:
a = ()
print(type(a))

<class 'tuple'>

In [139]:
a = (1)
print(type(a))

<class 'int'>

In [140]:
a = (1,)
print(type(a))

<class 'tuple'>

In [141]:
a = (1,2,3,4,5)# immutable
a[0]= 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
a.append(100)

In [ ]:
a = (1,2,3,4,5)# immutable

a[2:4]

In [ ]:
a.count(2)

In [ ]:
a = ("Mon", "Tue", "Wed", "Thur", "Fri", "Sat")

In [ ]:
a = ("Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun")  # creating new

In [ ]:
a = a +("Sun",)
print(a)

### creating tuple: Packing Concept

In [ ]:
a = 1,2,3
print(a)

In [ ]:
print(tuple(a))

- unpacking

In [ ]:
a

In [ ]:
b,c,d = a

In [ ]:
print(b)

In [ ]:
print(c)

In [ ]:
print(d)

In [ ]:
b,c,d,e = a

In [ ]:
b,c = a

In [ ]:
b = a[0]
c = a[1]
d = a[2]
# b,c,d = a

In [ ]:
def func():
    return "Hello", "World"

type(func())

In [ ]:
a,b = func()
print(a)

In [ ]:
print(b)

List of tuples:

In [ ]:
a = [(1, "Bipin", 1000), (2, "Ranjan", 2000) ]

In [ ]:
a = [(1, "Bipin"), (2, "Ranjan"), (3, "Shanoor"), (4, "Shital"), (5, "Tharoor"), ]

for i in a:
    print(i) # indexing
    roll_no = i[0]
    name = i[1]
    print(f"Roll Number -{roll_no} and Name : {name}")

In [ ]:
a[2][0]

In [164]:
for i in a:
    print(i)

(1, 'Bipin')
(2, 'Ranjan')
(3, 'Shanoor')
(4, 'Shital')
(5, 'Tharoor')

In [165]:
for i,j in a:
    print(i,j)

1 Bipin
2 Ranjan
3 Shanoor
4 Shital
5 Tharoor

In [ ]:
# string formatting
print(f"Roll Number -{roll_no} and Name : {name}")

In [ ]:
for i in a:
    print(i)
    roll_no,name = i  ## manual unpack
    print(f"Roll Number -{roll_no} and Name : {name}")

In [ ]:
for roll_no, name in a: # auto unpack
    print(f"Roll Number -{roll_no} and Name : {name}")

In [ ]:
a = a +("Sun",)
print(a)

In [ ]:
x = (1, 2, 3)
y = (4, 5, 6)
z = x + y
print(z)

In [ ]:
print(len(z))

In [ ]:
a = 10
b = 20

In [ ]:
b,a = a,b # swap with unpacking

In [ ]:
print(b)

In [ ]:
print(a)

### Set

In [ ]:
set1 = {1,2,3,3,2,3,1}
print(set1)

In [ ]:
set1 = set() # empty set
print(set1)

In [ ]:
set1 = {} # empty dict
print(set1)

In [ ]:
print(type(set1))

In [ ]:
set1 = {1,2,3,3,2,3,1}
print(set1)
set1[1]

In [ ]:
for i in set1:
    print(i)

In [ ]:
for i in set1:
    print(i)

In [ ]:
for i in set1:
    print(i)

In [ ]:
set1 = {"i","j", "k", "l"}
for i in set1:
    print(i)

In [ ]:
for i in set1:
    print(i)

In [ ]:
for i in set1:
    print(i)

In [ ]:
for i in set1:
    print(i)

In [ ]:
set1 = {1,2,{5,8}}

In [ ]:
set1 = {1,2, [5,8]}

In [ ]:
set1 = {1,2,(5,8)}

## Set Methods

- pop()
- add()
- update()
- remove()

In [ ]:
help(set)

In [ ]:
set1 = {1,2,5,8}
print(id(set1))
set1.add(4)

In [ ]:
set1

In [ ]:
print(id(set1))

In [ ]:
4 in set1 # fastest

In [ ]:
set1.pop()

In [ ]:
set1.pop()

In [ ]:
set1.remove(5)

In [ ]:
set1.remove(10)

In [ ]:
set1

In [ ]:
# update; add another
set1.update({1,6,7,8})
print(set1)

In [ ]:
set1.add({1,6,7,8})

In [ ]:
set1.add(1)

###
```
Question-1:
Take a string as input.
Print the number of unique characters in that string.

Question-2:
Take a string as input.
and check if it's binary string(Contains only 0 and 1)

Sample input 1
"0011010101ab"
Sample output 1
"Not Binary!"

Sample input 2
"010010101010"
Sample output 2
"Binary!"
```

## Set Ops

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange") # 4
fruits.update(["mango", "grape"]) # 6
fruits

In [ ]:
print(len(fruits))

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange") # 4
fruits.update(["mango", "grape", "cherry"]) # 6
fruits

In [142]:
set1= {1,2,7}
set2 = {7,3,5,6}
print(set1|set2)

{1, 2, 3, 5, 6, 7}

In [143]:
set1.union(set2)

{1, 2, 3, 5, 6, 7}

In [144]:
print(set1&set2)

{7}

In [145]:
set1.intersection(set2)

{7}

In [146]:
set1-set2 #s1.difference(s2)

{1, 2}

In [147]:
set2-set1

{3, 5, 6}

In [148]:
set2-set1

{3, 5, 6}

In [149]:
set2^set1 # s1.symmetric_difference(s2)

{1, 2, 3, 5, 6}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = set1.symmetric_difference(set2)
print(set3)

In [150]:
fruits = {"apple", "banana", "cherry"}
fruits

{'apple', 'banana', 'cherry'}

In [155]:
a = [(1, "Bipin"), (2, "Ranjan"), (3, "Shanoor"), (4, "Shital"), (5, "Tharoor"), ]

for i in a:
    print(i[0])
    print(i[1])

1
Bipin
2
Ranjan
3
Shanoor
4
Shital
5
Tharoor

In [156]:
for roll,name in a:
    print(roll)
    print(name)

1
Bipin
2
Ranjan
3
Shanoor
4
Shital
5
Tharoor

In [160]:
i,j = a[0] # (1, bipin)
print(i)

1

In [161]:
for i,j in a:
    print(i)
    print(j)

1
Bipin
2
Ranjan
3
Shanoor
4
Shital
5
Tharoor

In [153]:
a = [(1, "Bipin"), (2, "Ranjan"), (3, "Shanoor"), (4, "Shital"), (5, "Tharoor"), ]

a[0][0]

1

## split: convert strings to list

In [166]:
str1 = "1 2 3 4"
str1.split(" ")

['1', '2', '3', '4']

In [167]:
str1 = "1,2,3,4"
str1.split(",")

['1', '2', '3', '4']

In [170]:
fruits = {"apple", "banana", "cherry"}
fruits

{'apple', 'banana', 'cherry'}

In [173]:
for i in fruits:
    print(i)

cherry
banana
apple

In [174]:
for i in fruits:
    print(i)

cherry
banana
apple

In [175]:
for i in fruits:
    print(i)

cherry
banana
apple

In [176]:
tuple1 = (12,1,2)
tuple1

(12, 1, 2)